{%extends "base.html"%}

{%block content%}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<body onload="setInterval(updateElement, 2000)">

<h1 class="infoText"> <b> Game stats </b> </h1>


{%for i in range(1, 17) %}
{%if i % 2 == 0%}
<div class="row">
    <div class="column" id="div{{i}}" style="background-color: black; display: block;">

    <table class="statTable">

        <tr class="statsRow">
            <p class="statsText" id="name{{i}}">rank username stars☆</p><br>
        </tr>

        <tr class="statsRow">
            <div class="statsRowDiv">
                <th class="statsCell"><p class="statsText">fkdr</p></th>
                <th class="statsCell"><p class="statsText">wlr</p></th>
                <th class="statsCell"><p class="statsText">bblr</p></th>
                <th class="statsCell"><p class="statsText">ws</p></th>
            </div>

        </tr>

        <tr class="statsRow">
            <td class="statsCell"><p class="statsText" id="fkdr{{i}}">{{i}}</p></td>
            <td class="statsCell"><p class="statsText" id="wlr{{i}}">{{i}}</p></td>
            <td class="statsCell"><p class="statsText" id="bblr{{i}}">{{i}}</p></td>
            <td class="statsCell"><p class="statsText" id="ws{{i}}">{{i}}</p></td>
        </tr>
     </table>
    </div>
</div>
{%else%}
        <div class="column" id="div{{i}}" style="background-color: black; display: block;">
        <table class="statTable">


            <tr class="statsRow">
                <p class="statsText" id="name{{i}}">rank username stars☆</p><br>
            </tr>

            <tr class="statsRow">
                <div class="statsRowDiv">
                    <th class="statsCell"><p class="statsText">fkdr</p></th>
                    <th class="statsCell"><p class="statsText">wlr</p></th>
                    <th class="statsCell"><p class="statsText">bblr</p></th>
                    <th class="statsCell"><p class="statsText">ws</p></th>
                </div>

            </tr>

            <tr class="statsRow">
                <td class="statsCell"><p class="statsText" id="fkdr{{i}}">{{i}}</p></td>
                <td class="statsCell"><p class="statsText" id="wlr{{i}}">{{i}}</p></td>
                <td class="statsCell"><p class="statsText" id="bblr{{i}}">{{i}}</p></td>
                <td class="statsCell"><p class="statsText" id="ws{{i}}">{{i}}</p></td>
            </tr>
        </table>
    </div>
{%endif%}

<script>
    updateElement({{i}}, data)
</script>

{%endfor%}


{%endblock content%}
